* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgc-header: #373d54;
    --bgc-nav: #525b7e;
    --color-h3: #525a7d;
    --color-p: #808080;
    --list: #aab0c7;
}

html {
    font-family: "Calibri", sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* HEADER */

.header {
    width: 80%;
    max-width: 980px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
    background-color: var(--bgc-header);
}

.container-header-img {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 10px;
    left: 50px;
    border: 3px solid #fff;
    border-radius: 100%;
    overflow: hidden;
}

.container-header-img img { width: 100%; }

.container-header-title { margin: auto; }

.container-header-title h1 {
    font-family: "Corbel";
    font-size: 2.5em;
    font-weight: 100;
    text-transform: uppercase;
}

.container-header-title h2 {
    font-family: "Century";
    font-size: 1.1em;
    font-weight: lighter;
}


/* MAIN */

main {
    width: 80%;
    max-width: 980px;
    display: flex;
    background-color: whitesmoke;
    color: #000;
}


/* NAVIGATION */

nav {
    width: 30%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 20px 10px;
    background-color: var(--bgc-nav);
    color: #fff;
}

nav h2 {
    margin-bottom: 10px;
    text-align: center;
    font-family: "Calibri Bold";
}

ul {
    list-style: none;
    line-height: 1.8;
}

.list-nav li { font-family: "Calibri Bold"; }

.list-nav li:nth-child(9) { margin-top: 30px; }

.list-nav li:nth-child(even), li a {
    font-family: "Calibri Light";
    font-style: italic;
    padding-bottom: 5px;
    text-decoration: none;
    color: #fff;
}

.list-nav li a { font-style: normal; }


/* SECTIONS */

.container-sections {
    width: 70%;
    padding: 20px 30px;
}

.sections {
    line-height: 1.5;
    padding: 15px;
}

.section-header { padding-bottom: 20px; }

.section-header h2 {
    font-size: 1.3em;
    color: var(--bgc-header);
    padding-bottom: 4px;
    border-bottom: 1px solid var(--list);
    text-transform: uppercase;
}

.sections h3 {
    color: var(--color-h3);
    text-transform: uppercase;
}

.sections p { 
    text-transform: capitalize;
    font-size: 1.2em;
    color: var(--color-p);
    padding-bottom: 15px;
}

.sections > h3, .sections > p { margin-left: 40px; }

.section-cursos p:nth-child(5) { margin-bottom: 20px; }

.list-tecnologias { margin-left: 60px; }

.list-tecnologias li {
    color: var(--color-p);
    font-style: italic;
    font-size: 1.2em;
}

.list-tecnologias li::before {
    content: "\2022";
    color: var(--list);
    font-weight: bold;
    display: inline-block;
    width: 1em;
}



/* SET FONTS-FAMILY */

@font-face {
    font-family: "Corbel";
    src: url('../assets/fonts/CORBEL.TTF');
}

@font-face {
    font-family: "Century";
    src: url('../assets/fonts/Century\ 731\ BT.ttf');
}

@font-face {
    font-family: "Calibri";
    src: url('../assets/fonts/Calibri.ttf');
}

@font-face {
    font-family: "Calibri Bold";
    src: url('../assets/fonts/calibrib.ttf');
}

@font-face {
    font-family: "Calibri Light";
    src: url('../assets/fonts/calibril.ttf');
}